*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #211c20;
}

/* ========== CALCULATOR SHAPE LAYOUT ============ */

.calculator{
    width: 350px;
    height: 650px;
    margin: 25px auto;
}

.first-layer{
    width: 100%;
    height: 100%;
    padding: 1px 3px;
    background-color: #4c4b6d;
    border-radius: 85px 85px 100px 100px ;
    box-shadow: 0 0  10px 2px white;
}

.second-layer{
    width: 98%;
    height: 98.5%;
    margin: 5px auto;
    background-color: #c6c6c8;
    border-radius: 80px 80px 100px 100px ;
    padding: 10px;
}

/* ============ CLACULATOR HEADER TEXT ============= */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 15px;
    font-size: 1.5rem;
}

.head-bold{
    font-weight: bold;
    font-size: 2.8rem;
}

.italic{
    font-style: italic;
}

.screen{
    height: 80px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px auto;
}

/* ============== BUTTONS LAYOUT ===============  */

.buttons{
    width: 40px;
    height: 30px;
    background-color: #162241ce;
    border-radius: 50%;
    border-radius: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px white;
}

.buttons-con{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.big{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.second-con{
    display: flex;
    width: 30%;
    justify-content: space-between;
    transform: translateY(-35px);
}

.black{
    width: 40px;
    height: 30px;
    background-color: #211c20;
    color: white;
    border-radius: 50%;
    border-radius: 10px 10px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px white;
}

.third-con{
    display: flex;
    justify-content: space-between;
    transform: translateY(-20px);
}

.fourth-con{
    display: flex;
    justify-content: space-between;
    transform: translateY(-10px);
}

.fifth-con{
    display: flex;
    justify-content: space-between;
}

.number-con{
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.numbers{
    width: 55px;
    height: 30px;
    background-color: #fffcff;
    color: black;
    border-radius: 50%;
    border-radius: 10px 10px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 3px 3px 10px;
}

.orange{
    background-color: orangered;
}

